<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Priority Shopping Hours</title>
    <meta name="description" content="UK Priority Shopping Hours during Covid-19 outbreak for NHS workers, the elderly, vulnerable and their carers. Details and links.">
    <meta property="og:title" content="UK Priority Shopping Hours ">
    <meta property="og:site_name" content="UK Priority Shopping Hours">
    <meta property="og:url" content="https://priorityshoppinghours.com/">
    <meta property="og:description" content="UK Priority Shopping Hours during Covid-19 outbreak for NHS works, the elderly, vulnerable and their carers. Details and links.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="	https://priorityshoppinghours.com/img/og1.png">

    
    <link rel="icon" type="image/png" href="https://dearevelina.com/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="https://dearevelina.com/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="img/favicon.svg" />

  <style>
  {% include ./reset.css %}
  {% include ./index.css %}
  </style>


</head>

<body>

    <h1 class="main-heading">UK Priority Shopping Hours <span style="font-size: 0.5em; display: inline-block;">during Covid-19 outbreak</span></h1>

    <p class="small" style="margin-bottom: 0.2em;">Click to view:</p>
    {% for supermarket in index.supermarkets %}
        {% if supermarket.hideFromNav != true %}
            <a href="#{{ supermarket.name | url_encode }}" class="button">
                <img style="width: 70px;" src="https://aoxpqaidqo.cloudimg.io/v7/{{supermarket.logo}}?func=fit&h=50&w=140&trim=20" alt="View details for {{ supermarket.name }}">
            </a>
        {% endif %}
    {% endfor %}

    <ul>
        {% for supermarket in index.supermarkets %}
            <li class="supermarket {{ supermarket.name | remove: ' ' }}" id="{{ supermarket.name | url_encode }}">
                <div class="header">                    
                    <img class="logo" src="https://aoxpqaidqo.cloudimg.io/v7/{{supermarket.logo}}?{{ supermarket.logoParams | default: "func=fit&h=100&w=300&trim=20" }}" alt="{{ supermarket.name }}">
                    <h2 class="sr">{{ supermarket.name }}</h2>
                </div>
                <dl class="groups">
                    {% for group in supermarket.hours %}
                        <dt><h3>{{group.title | replace: "NHS", "<img alt='NHS' src='https://aoxpqaidqo.cloudimg.io/v7/https://1000logos.net/wp-content/uploads/2017/09/Font-NHS-Logo-500x229.jpg?func=fit&h=30&trim=20' height='15' style='display: inline-block;'>"}}</h3></dt>
                        <dd><p>{{group.description}}</p></dd>
                    {% endfor %}
                </dl>
                
                {% if supermarket.generalHours.size > 0 %}
                <details class="general-public-details">
                    <summary>
                        <h3>Opening Hours</h3>
                        <p>{{supermarket.generalHoursNote}}</p>
                    </summary>
                    <ul class="general-public">
                        {% for opening in supermarket.generalHours %}
                            <li class="general-public-item"><h4>{{opening.day}}</h4><p>{{opening.times}}</p></li>
                        {% endfor %}
                    </ul>
                </details>
                {% endif %}
                {% if supermarket.notes != "" %}
                    <h4 class="small">Notes</h4>
                    <p class="notes small">{{supermarket.notes}}</p>
                {% endif %}
                <p class="small notes" style="margin-top: 0.5em;">View 
                    {% if supermarket.detailsLink != "" %}<a class="notes" href="{{supermarket.detailsLink}}">Website</a> or{% endif %} 
                    <a class="notes" href="{{supermarket.twitterLink}}">Twitter</a>{% if supermarket.branchFinder %} or <a class="notes" href="{{supermarket.branchFinder}}">Branch Finder</a>{% endif %} 
                </p>
            </li>
        {% endfor %}
    </ul>
    
    <p class="small fade">Last updated at {{ "now" | date: "%Y-%m-%d %H:%M" }}</p>    
    
    <p class="small"><a href="https://twitter.com/i/lists/1242131294731059201?s=20">See Tweets from all supermarkets in one place</a></p>

    <h3 style="margin-top: 1em;">Issues or admendments?</h3>
    <form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field" class="small" style="margin-bottom: 1em;">
        <p style="display: none;">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
        <p>
            <label>Message: <textarea name="message" style="display: block; width: 100%; margin-bottom: 5px;"></textarea></label>
        </p>
        <p>
            <button type="submit">Send</button>
        </p>
    </form>

    

    <p class="small"><a href="https://github.com/gtrufitt/priorityshoppinghours">Contribute on GitHub</a></p>
    <p class="small"><a href="https://twitter.com/gtrufitt">Made with 💛 by Gareth</a> and <a href="https://github.com/Jonesatron">Craig</a></p>

    <!-- Anon analytics -->
    <script data-goatcounter="https://priorityshoppinghours.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  <script src="scripts.js"></script>
</body>
</html>
